*{
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin: 20px 30px;
    padding: 8px;
}

.container{
    background-color: lightcoral;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgray;
}

input[type="text"],
input[type="email"],
input[type="message"],
input[type="submit"],
select,
textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
}

fieldset {
    background-color: coral;
    border: 15px solid lightcoral;
}

.main_heading {
    text-align: center;
}

input[type="submit"]{
    background-color: maroon;
    color : white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 10%;
}

input[type="submit"]:hover {
    background-color: black;
}


