/*nav a{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 20px;
    float: left;
}

nav{
    background-color: black;
    overflow: hidden;
}

nav a:hover{
    color:red;
}

nav a:visited{
    color: blue;
} */

table,tr,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 12px;
    border-spacing: 5px;
}

th{
    background-color: brown;
}

td{
    background-color: yellow;
}